.ia {
    display: inline-block;
    float: left;
    padding: 5px 20px;
}

.ia > button {
    background: #020aff;
    color: white;
    font-size: 30px;
    border-radius: 15px;
    border-color: black;
}
.ir {
    display: inline-block;
    float: left;
    padding: 5px 20px;
}

.ir > button {
    background: #02ff06;
    color: #ffe000;
    font-size: 30px;
    border-radius: 15px;
    border-color: black;
}
.il {
    display: inline-block;
    float: left;
    padding: 5px 20px;
}

.il > button {
    background: #ff8502;
    color: #000000;
    font-size: 30px;
    border-radius: 15px;
    border-color: black;
}
body button:hover {
    cursor: pointer;
    background: white;
    color: black;
}